@import url(base.css);
@import url(reset.css);
@import url(theme.css);

:root {
  word-break: keep-all;
}

/* 컨테이너 레이아웃 */
.container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: var(--small-spacing);

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(auto, minmax(var(--size), auto));
  }
}

/* 카드 레이아웃 */
.card {
  position: relative;
  height: var(--size);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @media (min-width: 1024px) {
    height: var(--large-size);

    &:nth-child(-n + 3) {
      grid-column: span 2;
    }
  }
}

/* 텍스트 그룹 레이아웃 */
.text-wrapper {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--small-spacing);
  position: relative;
  z-index: 1;
  text-align: center;

  @media (min-width: 1024px) {
    .subtitle .br {
      display: none;
    }
  }
}

/* 텍스트 컴포넌트 */

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.headline {
  font-size: var(--large-text);
  line-height: 1.2;
  padding-top: var(--large-spacing);

  @media (min-width: 1024px) {
    font-size: var(--extra-large-text);
    padding-top: var(--extra-large-spacing);
  }
}
.subtitle {
  font-size: var(--base-text);
  line-height: var(--line-normal);

  @media (min-width: 1024px) {
    font-size: var(--medium-text);
  }
}
.desc {
  font-size: var(--small-text);
  line-height: var(--line-normal);
  color: var(--gray);
}

/* 버튼 레이아웃*/
.btns_link {
  display: flex;
  gap: var(--base-spacing);
}

/* 버튼 컴포넌트 */
.button {
  --button-color-blue: var(--blue-300);
  --button-color-black: var(--black);
  font-size: var(--xx-small-text);
  padding: var(--x-small-spacing) var(--small-spacing);
  border-radius: var(--base-spacing);

  @media (min-width: 1024px) {
    font-size: var(--x-small-text);
  }
}

.button-fill-blue {
  color: var(--white);
  background-color: var(--button-color-blue);
  border: 1px solid var(--button-color-blue);

  &:hover {
    background-color: var(--blue-200);
  }
}

.button-outline-blue {
  color: var(--blue-100);
  background: transparent;
  border: 1px solid var(--button-color-blue);

  &:hover {
    color: var(--white);
    background-color: var(--button-color-blue);
  }
}

.button-fill-black {
  color: var(--white);
  background-color: var(--button-color-black);
  border: 1px solid var(--button-color-black);

  &:hover {
    background-color: var(--dark-gray);
  }
}

.button-outline-black {
  color: var(--button-color-black);
  background: transparent;
  border: 1px solid var(--button-color-black);

  &:hover {
    color: var(--white);
    background-color: var(--button-color-black);
  }
}

/* 배경 레이아웃 */
.image-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;

  .bg-image {
    width: inherit;
    height: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 734/548;
  }
}

/* 제품 배경 이미지 컴포넌트 */
.ipad-pro {
  .image-wrapper .bg-image {
    background-image: image-set(
      url(/products/ipad_pro.jpeg) 1x,
      url(/products/ipad_pro_2x.jpeg) 2x
    );

    /* Large Screen - wide 배경 이미지*/
    @media (min-width: 1024px) {
      background-image: image-set(
        url(/products/ipad_pro_wide.jpeg) 1x,
        url(/products/ipad_pro_wide_2x.jpeg) 2x
      );
    }
  }
}
.ipad-air {
  .image-wrapper .bg-image {
    background-image: image-set(
      url(/products/ipad_air.jpeg) 1x,
      url(/products/ipad_air_2x.jpeg) 2x
    );

    /* Large Screen - wide 배경 이미지*/
    @media (min-width: 1024px) {
      background-image: image-set(
        url(/products/ipad_air_wide.jpeg) 1x,
        url(/products/ipad_air_wide_2x.jpeg) 2x
      );
    }
  }
}
.iphone-15-pro {
  .image-wrapper .bg-image {
    background-image: image-set(
      url(/products/iphone15_pro.jpeg) 1x,
      url(/products/iphone15_pro_2x.jpeg) 2x
    );

    /* Large Screen - wide 배경 이미지*/
    @media (min-width: 1024px) {
      background-image: image-set(
        url(/products/iphone15_pro_wide.jpeg) 1x,
        url(/products/iphone15_pro_wide_2x.jpeg) 2x
      );
    }
  }
}
.iphone-15 {
  .image-wrapper .bg-image {
    background-image: image-set(
      url(/products/iphone15.jpeg) 1x,
      url(/products/iphone15_2x.jpeg) 2x
    );
  }
}
.watch {
  .image-wrapper .bg-image {
    background-image: image-set(
      url(/products/apple_watch.jpeg) 1x,
      url(/products/apple_watch_2x.jpeg) 2x
    );
  }
}
.macbook-air {
  .image-wrapper .bg-image {
    background-image: image-set(
      url(/products/macbook_air.jpeg) 1x,
      url(/products/macbook_air_2x.jpeg) 2x
    );
  }
}
.airpobs-pro {
  .image-wrapper .bg-image {
    background-image: image-set(
      url(/products/airpods_pro.jpeg) 1x,
      url(/products/airpods_pro_2x.jpeg) 2x
    );
  }
}
