:root {
  --base: "SUIT Variable", sans-serif;
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--base);
}

.avatar {
  --size: 64px;

  margin: 0;
  position: relative;
  inline-size: var(--size);
  block-size: var(--size);

  img {
    inline-size: inherit;
    block-size: inherit;
    border-radius: 50%;
  }

  figcaption {
    --size: 18px;

    inline-size: var(--size);
    block-size: var(--size);
    background-color: #dbdbdb;
    border-radius: 50%;
    position: absolute;
    border: 2px solid #fff;
    right: 0;
    bottom: 0;
    box-sizing: inherit;
    /* inline-end: 0;
    block-end: 0: */
  }

  &.is-online {
    figcaption {
      background-color: #4cfe88;
    }
  }
}

/* member layout */
.member {
  --avatar-size: 64px;
  --avatar-count: 4;
  --avatar-spacing: 10px;
  --container-size: calc(
    (var(--avatar-size) * var(--avatar-count)) +
      (var(--avatar-spacing) * (var(--avatar-count) * 2))
  );

  inline-size: var(--container-size);
  margin: 50px auto;

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    display: flow-root;
  }

  li {
    margin: 10px;
    float: left;
  }
}

@supports (display: flex) {
  .member {
    ul {
      display: flex;
      flex-flow: row wrap;
    }

    li {
      float: none;
    }

    li:nth-child(odd) {
      order: 1;
    }
  }
}
