@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --base-font-family: "Pretendard Variable", sans-serif;
}

body {
  background: var(--black);
  color: var(--white);
}

.section-title {
  font-family: var(--base-font-family);
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600;
}

.title {
  font-family: var(--base-font-family);
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
}

.episode {
  font-family: var(--base-font-family);
  font-size: 12px;
  line-height: 1.6;
  font-weight: 400;
}
